{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="center">
                
            </div>
        </div>

        <div class="col-sm-4">
            <p class=" px-2 pb-3 text-xl center">使い方</p>
            <p>①[生成]ボタンをクリックするとランダムなRGB値からなる4色が生成されます。</p>
            <p></p>
            <p>②[パステルカラー][ビビッドカラー]等のチェックを入れると生成される色を絞り込むことができます。</p>
            <p></p>
            <p>③各色の右側にある固定チェックボックスにチェックを入れると[生成]ボタンを押してもその色は変わりません。</p>
            <p></p>
            <p>④固定チェックボックスにチェックを入れた状態で[生成]ボタンを一度以上クリックすると作った配色を共有することができます。</p>
        </div>

        <div class="col-sm-4">
            <div class="center">
                
            </div>
        </div>
    </div>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

{% endblock %}